---
layout: page
---

<img src="../assets/img/IMG_E0131.JPG" class="about-photo">

<div class="wrapper">
  <div class="typing-effect">
    <h1>hello, world</h1>
  </div>
</div>

<p> I'm a technical writer and yoga teacher based in Berlin.</p>
<p>On weekdays, I use my background in <a href="/tags/#datascience">data science</a>, <a href="/tags/#linguistics">linguistics</a>, and translation to craft clear software documentation or educational resources that help users get things done. </p>
<p>On weekends, I share and deepen my <a href="yoga">yoga</a> and meditation practice by teaching classes and attending trainings.</p>
<p>In between, I travel the world and get through my never-ending reading list.</p>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
