---
layout: page
---

<img src="../assets/img/IMG_E0131.JPG" class="about-photo">

<div class="wrapper">
  <div class="typing-effect">
    <h1>hello, world</h1>
  </div>
</div>

<p> I'm a technical writer with a background in <a href="/tags/#datascience">data science</a>, <a href="/tags/#linguistics">linguistics</a> and translation, based in Berlin. </p>
<p>Professionally, I combine these skills into writing documentation and educational content for workflow
    automation and DevOps software, and deriving insights from web traffic data. I'm enthusiastic about open-source projects and tech startups, and anything AI-related.</p>

    Academically, I'm interested in neuro-/psycholinguistics (for example, <a href="/conference-student-research-berlin">what goes on in the brain of an
    interpreter</a>, or the <a href="/romanian-psych-verbs-study">semantics of emotion verbs</a>), natural
    language processing (emotion recognition, machine translation), and possible worlds semantics. I still find myself pondering on these topics, and dream of documenting an endangered language one day.</p>

<p> When I'm away from my laptop, I'm most likely on the yoga mat, in the kendo dojo, or exploring the great outdoors.
</p>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
