---
layout: page
---

<img src="../assets/img/IMG_E0131.JPG" class="about-photo">

<div class="wrapper">
  <div class="typing-effect">
    <h1>hello, world</h1>
  </div>
</div>

<p> I'm a technical writer with a background in <a href="/tags/#datascience">data science</a>, <a href="/tags/#linguistics">linguistics</a> and translation. </p>
<p> I combine these skillscraft clear and concise software documentation and educational resources to help users get things done. </p>
<p> When I'm away from my laptop, I'm most likely doing yoga, running outdoors, or taking <a href="https://inictuoculi.photography/tags/wanderlust/">photos around the world</a>.</p>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
